.rosso{
    background-color: red;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    width: 100%;
}


/* inizio page */
.inizio{
    width: 100%;
    height: 150px;
    background-image: url(img/pattern.png);
    background-color: cornflowerblue;
    margin: auto;
}
#logo{
    background-image: url(img/logo.svg);
    width: 300px;
    height: 200px;
    background-repeat: no-repeat;
    background-position-y: 60px;
}
#sotto{
    font-size: 16px;
}
#blu{
    color: cornflowerblue;
}
.scritta{
    font-size: 25px;
    margin-bottom: 35px;  
}
.main{
    font-size: 27px;
    margin-top: 30px;  
}

/* foto e scritte */
.immagini{
    width: 45%;
    
}
.immagini2{
    width: 38.52%;
}

/* scritta 2 */
.scritta2{
    font-size: 13px;
    text-decoration: black;
}

/* paragrofo */
.paragrafo{
    margin-top: 30px;
}
#giallo{
    background-color: yellow;
}


.lista{
    margin-top: 35px;
}

 /* footer */
 #titolo{
    color: rgb(12, 11, 11); 
    margin-top: 35px;
 }
 .grand{
     width: 23%;
     display: inline-block;
 }
 .titolo{
     display: inline-block;
 }
