
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    width: 30%;
}


/* inizio page */
.inizio{
    width: 100%;
    height: 150px;
    background-image: url(img/pattern.png);
    background-color: cornflowerblue;
    margin: auto;
}
#logo{
    background-image: url(img/logo.svg);
    width: 300px;
    height: 200px;
    background-repeat: no-repeat;
    background-position-y: 60px;
}
#sotto{
    font-size: 16px;
}
#blu{
    color: rgb(201, 113, 30);
}
.scritta{
    font-size: 25px;
    margin-bottom: 35px;  
}
.main{
    font-size: 27px;
    margin-top: 30px;  
}

/* foto e scritte */
.immagini{
    width: 45%;
    
}
.immagini2{
    width: 38.52%;
}

/* scritta 2 */
.scritta2{
    font-size: 13px;
    text-decoration: black;
}

/* paragrofo */
.paragrafo{
    margin-top: 30px;    
}
#giallo{
    background-color: yellow;
}
.lista{
    margin-top: 35px;
    padding-left: 27px;
}
table{
    margin-top: 40px;
    margin-bottom: 40px;
}
#coloreblu{
    background-color: dodgerblue;
}
#colorebluchiaro{
    background-color: lightblue;
}
.largo{
    padding-right: 200px; 
    color: white;
    height: 10px;
}

/* footer */
 #titolo{
    color: rgb(80, 74, 74); 
    margin-top: 35px;
    margin-bottom: 15px;
 }
 .titolo2{
     color: white;
     padding-top: 10px;
     padding-left: 5px;
     font-size: 25px;
 }
 .grand{
     width: 23%;
     display: inline-block;
 }
 .spazio{
     margin-bottom: 40px;
    
 }
 .immag{
     width: 270px;
     height: 200px;
     background-image: url(img/monitor.jpg); 
     margin-bottom: 15px;
}
.immag2{
    width: 270px;
    height: 200px;
    background-image: url(img/graph.jpg); 
    margin-bottom: 30px;
}